<!DOCTYPE html>
<html>
<title>BMO Australia</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("https://i.imgur.com/Rq77rBL.jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-position: center;
    background-size: cover;
    background-image: url("https://i.imgur.com/tZDQBu6.gifv");
    min-height: 100%;
}


.w3-bar .w3-button {
    padding: 16px;
}

#myVideo {

    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#video{display:none}

/* Default to display the image on all devices */
#videosubstitute{display:block;width:auto;height:100%;}

html, body {
    height: 100%;
    margin: 0;
}
#fullScreenDiv{
   /* Set the height to match that of the viewport. */
    height: 100vh;
    width: auto;
    padding:0!important;
    margin: 0!important;
    background-color: gray;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: url("https://i.imgur.com/WUS09Wf.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


@media (max-aspect-ratio: 16/9) {
  #video {
    width: 150%;
    left: -100%;
  }
  #videosubstitute{display:block;width:auto;height:100%;}
}
/*if there is 992  pixels or more, then display the video but hide the image*/
@media only screen and (min-width : 992px) {
#video{display:block;}
#videosubstitute{display:none}
}

/* The container for our text and stuff */
#messageBox{
    color: black;
    position: absolute;  top: 0;  left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100%;
}


</style>


<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide">BMO</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
      <a href="/en/account/" class="w3-bar-item w3-button"><i class="fa fa-user"></i> ACCOUNT </a>
      <a href="/en/cart/" class="w3-bar-item w3-button"><i class="fa fa-th"></i> CART </a>
      <a href="/en/account/" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> ORDERS </a>
      <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT </a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
  <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
  <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
  <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
</nav>

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">BMO Australia</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">BMO Australia</span><br>
    <span class="w3-large">Shop our entire collection now!</span>
    <p><a href="#team" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Shop Now!</a></p>
  </div>
  <div class="w3-display-bottomleft w3-text-white w3-large" style="padding:24px 48px">
    <a href="https://www.facebook.com/bmoaustralia/"> <i class="fa fa-facebook-official w3-hover-opacity"></i></a>
    <a href="https://www.instagram.com/bmoaustralia/"> <i class="fa fa-instagram w3-hover-opacity"></i></a>
    <a href="https://twitter.com/bmoaustralia"> <i class="fa fa-twitter w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/company/blue-mountains-originals-australia"> <i class="fa fa-linkedin w3-hover-opacity"></i></a>
  </div>
</header>

<!-- About Section -->

<div id="fullScreenDiv">
<div id="videoDiv">
      <video preload="preload" id="video" autoplay="autoplay" loop="loop">
      <source src="{{MEDIA_URL}}sunset.mp4" type="video/mp4"></source>
      </video>

</div>

<div class ="Content">
  <div id="messageBox">
      <div>
        <div class="w3-container" style="padding:128px 16px" id="about">
         <h3 class="w3-center">ABOUT OUR BOOTS</h3>
          <p class="w3-center w3-large">BMO Australia is a Premium Australian Fashion Brand born from rich family Heritage,
 embodied by dedicated craftsmanship and perfectly harmonised with pure Australian values.
 Experience the delicate softness of pure Australian Merino Wool whilst enjoying the sensation
 ®
 of elegance and comfort this winter as you slip into a pair of super cosy BMO Australia Boots.</p>
 <div class="w3-row-padding w3-center" style="margin-top:64px">

   <div class="w3-quarter">
     <i class="fa fa-bicycle w3-margin-bottom w3-jumbo"></i>
     <p class="w3-large">Australian Made</p>
     <p>It’s partly about purchasing genuine quality from a genuine source; it’s partly about using 100%
Natural Australian materials (because their simply the best) and it’s partly about the love, care and
attention that only comes from handcrafting a pair of boots through 80 years of proven techniques.</p>
   </div>
   <div class="w3-quarter">
     <i class="fa fa-shopping-bag w3-margin-bottom w3-jumbo"></i>
     <p class="w3-large">Passion</p>
     <p>With a New Generation of BMO Australia and an overwhelming demand for Genuine, Sustainable,
Eco-Friendly products in the High-End European Fashion Markets, BMO Australia launched an
Exclusive Collection, adapted to suit the Harsh European conditions in 2012. </p>
   </div>
   <div class="w3-quarter">
     <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
     <p class="w3-large">Carefully Handcrafted</p>
     <p>Equally important to each and every one of our Master Craftsmen, and Ladies, is the passion,
attention to detail and quality that is only created by Handcrafting a boot with care. Inspecting every
skin with their delicate touch, generations of craftsmen use processes that are tried and true.</p>
   </div>
   <div class="w3-quarter">
     <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
     <p class="w3-large">History</p>
     <p>Proudly recognised as the first manufacturer of the iconic Australian style UGG boot since 1933, and
kept alive by one nation’s loyalty to an iconic Australian product, BMO Australia truly is the only
Global manufacturer and distributor of genuine, Australian, Handmade, 100% Natural, Sheepskin
boots on the European market.</p>
   </div>
</div>
</div>
</div>
</div>
</div>
</div>



<!-- Collection Section -->
<div class="w3-container" style="padding:128px 16px" id="team">
  <h3 class="w3-center">COLLECTIONS</h3>
  <p class="w3-center w3-large">The hottest shoes on the market</p>
  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="https://i.imgur.com/pepcCoU.jpg" alt="Adult Boot" style="width:100%">
        <div class="w3-container">
          <h3>Adults</h3>
          <p class="w3-opacity">Ultra Mini, Mini Surf, and Classic Surf</p>
          <p>Premium Products for Educated Consumers</p>
           <a href="/products/category/adult-boots-1/" class="w3-button w3-light-grey w3-block"> Shop Now!</a></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="https://i.imgur.com/x1Yob3O.jpg" alt="Kids Boot" style="width:100%">
        <div class="w3-container">
          <h3>Kids</h3>
          <p class="w3-opacity">Mini Surf, and Classic Surf</p>
          <p>Comfy and light weight</p>
          <a href="/products/category/kids-boots-2/" class="w3-button w3-light-grey w3-block"> Shop Now!</a></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="https://i.imgur.com/pqH6bcg.jpg" alt="Baby" style="width:100%">
        <div class="w3-container">
          <h3>Baby</h3>
          <p class="w3-opacity">Baby Boots with and without Velcro</p>
          <p>Keep those tiny toes warm</p>
          <a href="/products/category/baby-boots-3/" class="w3-button w3-light-grey w3-block"> Shop Now!</a></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="https://i.imgur.com/SAnHKxv.jpg" alt="Rugs" style="width:100%">
        <div class="w3-container">
          <h3>Rugs</h3>
          <p class="w3-opacity">Sheepskin Rugs</p>
          <p>The Best rugs on the market</p>
          <a href="/products/category/rugs-11/" class="w3-button w3-light-grey w3-block"> Shop Now!</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Contact Section -->
<div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
  <h3 class="w3-center">CONTACT</h3>
  <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-half">
      <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Amsterdam, Netherlands</p>
      <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +00 151515</p>
      <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com</p>
      <br>
      <form action="/action_page.php" target="_blank">
        <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p>
        <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></p>
        <p><input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject"></p>
        <p><input class="w3-input w3-border" type="text" placeholder="Message" required name="Message"></p>
        <p>
          <button class="w3-button w3-black" type="submit">
            <i class="fa fa-paper-plane"></i> SEND MESSAGE
          </button>
        </p>
      </form>
    </div>
    <div class="w3-half">
      <!-- Add Google Maps -->
      <div id="googleMap" class="w3" style="width:100%;height:510px;"></div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <a href="https://www.facebook.com/bmoaustralia/"> <i class="fa fa-facebook-official w3-hover-opacity"></i></a>
    <a href="https://www.instagram.com/bmoaustralia/"> <i class="fa fa-instagram w3-hover-opacity"></i></a>
    <a href="https://twitter.com/bmoaustralia"> <i class="fa fa-twitter w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/company/blue-mountains-originals-australia"> <i class="fa fa-linkedin w3-hover-opacity"></i></a>
  </div>

</footer>



<script>
function myMap()
{
  myCenter=new google.maps.LatLng(52.361147, 4.888874);
  var mapOptions= {
    center:myCenter,
    zoom:12, scrollwheel: false, draggable: false,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}




// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
    } else {
        mySidebar.style.display = 'block';
    }
}

function w3_close() {
    mySidebar.style.display = "none";
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCo4UHP9LW5UaEY31525U1jWuCs0W8KHQg&callback=myMap"></script>


</body>
</html>
